<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <!-- [routerLinkActiveOptions]="{exact:true}" will tell the routerLink directive to not do a 'starts with', but an exact match so to only match one link at a time-->
            <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
          </li>
          <li><a [routerLink]="['/events/new']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Create Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor="let event of events">
                <a [routerLink]="['/events', event.id]">{{event.name | uppercase}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/user/login']">Login</a>
              <a *ngIf="auth.isAuthenticated()" [routerLink]="['/user/profile']">Welcome {{auth.currentUser.firstName}}</a>
            </li>   
          </ul>
        </div>
        <form id="searchForm" (ngSubmit)="searchSession(searchTerm)" class="navbar-form navbar-right">
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
          </div>
          <button class="btn btn-default" modal-trigger="searchResults">
            Search
          </button>
          <button class="btn btn-default" modal-trigger="sayHello">
            Say Hello in a modal
          </button>
        </form>
      </div>
    </div>
  </div>

  <simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let session of foundSessions"
        [routerLink]="['/events', session.eventId]">{{session.name}}  
      </a>
    </div>
  </simple-modal>

  <!-- <simple-modal closeOnBodyClick="true"  elementId="sayHello" title="Hello"> -->
  <simple-modal elementId="sayHello" title="Hello">
    <div>
      <h3>I am the second modal on the page</h3>
      <p>Using content projection and bootstrap modal to achieve this </p>
      <p>Dynamically passing the modal id to the SimpleModalComponent so to be able to pop-up multiple modals with the same code; using a directive modal-trigger to trigger the pop up on button click</p>
      <p>Dynamically binding the simple-modal component with the button that triggers it through an input parameter which represents the modal id modal-trigger="sayHello" </p>
      <!-- <button >Click me </button> not needed to make closeOnBodyClick="true" work
      if input param is missing then the closeOnBodyClick will be undefined so not true 
      and the closeOnBodyClick code won't be triggered  
      -->
    </div>
  </simple-modal>